  .padding-top {
    padding-top: 70px;
  }
  .w3-top h1 {
    text-align: center;
  }
  .padding-bottom {
    padding-bottom: 50px;
  }
  .background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.612), rgba(0, 0, 0, 0.596)), url("/images/starry-night.jpg");
    background-size: cover;
  }
  